# ----------------------------------------
# PNPM-specific configuration file
# @see https://pnpm.io/npmrc for details
# ----------------------------------------
auto-install-peers=true
color=auto
dedupe-peer-dependents=true
enable-modules-dir=true
engine-strict=true
git-branch-lockfile=false
hoist-pattern=['*'] # hoist all packages
hoist-workspace-packages=true
hoist=true
ignore-compatibility-db=false
ignore-dep-scripts=false
ignore-scripts=false
ignore-workspace-root-check=true
include-workspace-root=true
lockfile-include-tarball-url=true
lockfile=true
loglevel=info
node-linker=isolated
package-import-method=auto
package-manager-strict-version=true
package-manager-strict=true
prefer-frozen-lockfile=true
public-hoist-pattern=['*'] # hoist all packages
recursive-install=true
registry=https://registry.npmjs.org/ # trailing slash intentional
resolution-mode=highest # to get the latest compatible packages when creating the project: https://github.com/pnpm/pnpm/issues/6463
resolve-peers-from-workspace-root=true
save-prefix='^'
save-workspace-protocol=rolling
shamefully-hoist=true # it seems like we have to shamefully hoist for eslint and stylelint to cooperate
shared-workspace-lockfile=true
strict-peer-dependencies=false
strict-ssl=true
symlink=true
tag=latest
update-notifier=true
verify-store-integrity=true
