@import url('@fontsource/inter');
@import url('@fontsource/blackout-midnight');
@import url('./_reset.css');

:root {
  --color-light: #edeef0;
  --color-muted: #b0b4ba;
}

* {
  overscroll-behavior-x: none !important;
  overscroll-behavior-y: none !important;
  overscroll-behavior: none !important;

  user-select: none !important;
  text-wrap: balance !important;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent !important; /* Chrome/Safari/Webkit */
    width: 0px !important;
  }
}

html,
body,
body.body--dark {
  font-family: 'Inter', system-ui, Roboto, sans-serif;
  color: var(--color-light);
  background: var(--q-dark-page) !important;

  overscroll-behavior-x: none !important;
  overscroll-behavior-y: none !important;
  overscroll-behavior: none !important;

  user-select: none !important;
  text-wrap: balance !important;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent !important; /* Chrome/Safari/Webkit */
    width: 0px !important;
  }
}

blockquote {
  border-left: 6px solid var(--q-secondary);

  margin: 0;
  padding: 10px 6px;
  border-radius: 0;

  & > p {
    margin: 0;
    padding: 0;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }
}

.bg-dark-page {
  background: var(--q-dark-page) !important;
}

.text-light {
  color: var(--color-light) !important;
}

.text-muted {
  color: var(--color-muted) !important;
}

.q-btn {
  & .q-icon,
  & .q-spinner {
    font-size: 1.4em;
  }
}
